html {
  margin: 0;
  padding: 0;
  background-color:#C8C8C8;

  .main {
    display: flex;
    flex-direction: column;
  }
}


/*  
Table Responsive
===================
Author: https://github.com/pablorgarcia
*/


body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
}

h1 {
   padding: 30px;
   font-size:3em;
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
   font-weight: bold;
   font-size: 1em;
    text-align: left;
    color: #185875;
    border: 1px solid yellow;
}

.container td {
   font-weight: normal;
   font-size: 1em;
 -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
         box-shadow: 0 2px 2px -2px #0E1119;
    border: 1px solid yellow;
}

.container {
   text-align: left;
   overflow: hidden;
   width: 90%;
   margin: 0 auto;
   display: table;
   padding: 0;
   height: 100vh;
}

.container td, .container th {
    text-align: center;
    border: 1px solid yellow;
    padding: 1%;
}

.container tr:nth-child(odd) {
   background-color: #323C50;
}

.container tr:nth-child(even) {
   background-color: #2C3446;
}

.container th {
   background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }


.container tr:hover {
 background-color: #FFF842;
 color: #ffffff;
 font-weight: bold;
 transition-delay: 0s;
   transition-duration: 0.4s;
   transition-property: all;

}

.container tr:only-child:hover {
  color: #A7A1AE;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
