html {
  margin: 0;
  padding: 0;
  .main {
    display: flex;
    flex-direction: column;
  }
}


h1 {
   padding: 30px;
   font-size: 3em;
   font-weight: 300;
   line-height: 1em;
   text-align: center;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.number, .age {
  width: 50px;
}

.gender {
  width: 70px;
}

.container {
   text-align: left;
   overflow: hidden;
   width: 90%;
   margin: 0 auto;
   display: table;
   padding: 0;
   height: calc(100vh - 60px);
   border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

.container td, .container th {
    text-align: center;
    padding: 1%;
}
.container tr {
  border: 1px solid black;
}
