.header {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Chicago_12, sans-serif;
}

.nav-list {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1px;
}

.nav-item {
  display: flex;
  width: 100px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: black;
    color: white;
  }

  #{&}-active {
    background-color: black;
    color: white;
  }
}

.auth {
  margin-right: 30px;
}


