
.box {
    position: relative;
    margin-top: 41px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box select {
    border-radius: 10px;
    background-color:  #4DC3FA;
    font-weight: 600;
    font-family: "Baskerville Old Face", sans-serif;
    letter-spacing: .2em;
    padding: 10px 12px;
    margin-right: 50px;
    width: 250px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    height: 40px;
}

.box::before {
    content: "\21D3";
    position: absolute;
    padding-left: 4px;
    top: 0;
    right: 50px;
    width: 39px;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    color: #1F2739;
    background-color: rgba(105, 105, 105, 0.4);
    pointer-events: none;
}

.box:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}