.about-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  gap: 40px;
}

@media screen and (max-width: 800px){
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .page {
    height: 100%;
  }
}
.about-element {
  padding: 15px;
}

.about-description {
  letter-spacing: .1em;
}